/* CSS styles */
body {
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h1 {
font-family: arial, bold;
text-align: center;
}

p{
font-family: montserrat;
text-align: center;
}

a{
font-family: montserrat;
text-align: center;
color: #ffffff;
font-size: 20px;}
	  
