/* CSS styles */
body {
  background-image: linear-gradient(to right, #f945ff,#e945ff,#d045ff,#c145ff,#b145ff,#9c45ff,violet);
}
h1 {
font-family: Impact, arial;
color: #1b3cf5;
}
p {
font-family: Montserrat;}
	  
.btn {
  background: #1100ff;
  background-image: -webkit-linear-gradient(top, #1100ff, #842bb8);
  background-image: -moz-linear-gradient(top, #1100ff, #842bb8);
  background-image: -ms-linear-gradient(top, #1100ff, #842bb8);
  background-image: -o-linear-gradient(top, #1100ff, #842bb8);
  background-image: linear-gradient(to bottom, #1100ff, #842bb8);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  padding: 8px 40px 8px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #7f3cfc;
  background-image: -webkit-linear-gradient(top, #7f3cfc, #3463d9);
  background-image: -moz-linear-gradient(top, #7f3cfc, #3463d9);
  background-image: -ms-linear-gradient(top, #7f3cfc, #3463d9);
  background-image: -o-linear-gradient(top, #7f3cfc, #3463d9);
  background-image: linear-gradient(to bottom, #7f3cfc, #3463d9);
  text-decoration: none;
}
